.root {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--diff-spacing);
  overflow: hidden;
  
  --line-added-bg-color: rgba(82, 209, 14, 0.2);
  --line-deleted-bg-color: rgba(222, 53, 53, 0.2);;
}

.root.dark {
  --line-added-bg-color: rgba(27, 73, 6, 0.3);
  --line-deleted-bg-color: rgba(51, 3, 3, 0.3);
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--vkui--color_image_border_alpha);
  padding: 6px 12px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hidden {
  display: none;
}

.content-table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}

.content-table-collapsed {
  display: none;
}

.rotate-90 {
  transform: rotate(90deg);
}

.expand-row {
  height: 16px;
  background: var(--vkui--color_background_content);
  color: inherit;

  td {
    border-top: 1px solid var(--vkui--color_image_border_alpha);
    border-bottom: 1px solid var(--vkui--color_image_border_alpha);  
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
}
