.root {
  display: flex;
  flex-direction: column;
  margin-top: var(--diff-spacing);
  overflow: hidden;
}

.root.dark {
  --cell-border-color: #222222;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-collapsed {
  display: none;
}


.content-table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}

.content-table-collapsed {
  display: none;
}

.rotate-90 {
  transform: rotate(90deg);
}
