@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

.row {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.85rem;
  white-space: pre-wrap;
  word-wrap: anywhere;
}

.cell {
  box-sizing: border-box;
  padding: 0;
  vertical-align: top;

  &-content {

    // Guard to set height to row even if there is no content
    &::after {
      content: " ";
      user-select: none;
      pointer-events: none;
    }
  }

  &-line-no {
    width: 50px;
    padding: 0 6px 0 0;
    text-align: right;
    white-space: nowrap;
    filter: saturate(3);
    user-select: none;
  }

  &-void-line-no {
    width: 50px;
  }

  &-void,
  &-void-line-no {
    background: var(--vkui--color_background_content);
  }

  &-added {
    background: var(--line-added-bg-color);
  }

  &-deleted {
    background: var(--line-deleted-bg-color);
  }

  &-not-modified {
    background: var(--vkui--color_background_modal);
  }

  &-last-right {
    border-right: 1px solid var(--vkui--color_image_border_alpha);
  }
}
